<!DOCTYPE html>
<html lang="en" ng-app="">
    <head>
        <meta charset="UTF-8">
        <script src="lib/angular.min.js"></script>
        <script src="lib/jquery.js"></script>
        <script src="lib/jquery.nanoscroller.min.js"></script>
        <script src="lib/uiactions.js"></script>
        <script src="controller/globalController.js"></script>
        <title>Al-Falah Academic Information System</title>
    </head>
    <body ng-controller="globalController">
        <div class="content" >
            <div class="top_block header" >
                <div class="content">                   
                    <div class="window-button-container">                       
                        <div class="window-button close" onclick="closeWindow()"></div>
                        <div class="window-button maximize"></div>
                        <div class="window-button minimize"></div>                        
                    </div>
                    <div class="user-button">
                        <div class="user-image"></div>
                        <div class="user-name">Aria Ghora Prabono</div>
                        <div class="user-privilege">Administrator</div>
                    </div>
                    <div class="win-title" style="-webkit-app-region: drag">
                        Al-Falah Academic Information System
                    </div>
                </div>
            </div>
            <div class="background menu-panel">
                <div class="item item-home active" onclick="panelSelector(this)" ng-click="setCurrentPage('view/dummy.html')" >
                    HOME                    
                </div>
                <div class="item item-master" onclick="panelSelector(this)" ng-click="setCurrentPage('view/dummy2.html')">
                    MASTER
                    <div class="subitem">
                        <ul>
                            <li class="active" onclick="subItemSelector(this)">item 1</li>
                            <li onclick="subItemSelector(this)">item 2</li>
                            <li onclick="subItemSelector(this)">item 3</li>
                        </ul>
                    </div>
                </div>
                <div class="item" onclick="panelSelector(this)" ng-click="setCurrentPage('view/dummy.html')">TRANSACTION</div>
            </div>
            <div class="left_block menu-panel">
                <div class="content">                
                </div>
            </div>
            <div class="background content-panel">                
                <div class="content nano" id="content-loader">
                    <div class="nano-content">
                        <!--load dummy database here-->
                        <ng-include src="currentPage"></ng-include>
                    </div>
                </div>                                
            </div>
            <div class="center_block content-panel">

            </div>
        </div>
    </body>

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/widgets.css">
    <link rel="stylesheet" href="styles/nanoscroller.css">

    <script>
        $(document).ready(function(){
            // $(".nano").nanoScroller();
        });
    </script>

    <style>
        /*
        .nano { background: #bba; width: 500px; height: 500px; }
        .nano .nano-content { padding: 10px; }
        .nano .nano-pane   { background: #888; }
        .nano .nano-slider { background: #111; }
        */
    </style>
</html>