/**
* Layout generated with http://layzilla.com
* Layout generator is free of use.
* We appreciate if you leave this comment block in commercial use of generator.
* All comment and ideas can be submitted to us using contacts below.
*
*    site: www.jmholding.com
*   email: info@jmholding.ru
*  twitter: @jmholding
*/
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

.content {
  min-height: 100%;
  position: relative;
  overflow: auto;
  z-index: 0; }

.background {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0; }

.top_block {
  width: 100%;
  display: block; }

.bottom_block {
  position: absolute;
  width: 100%;
  display: block;
  bottom: 0; }

.left_block {
  display: block;
  float: left; }

.right_block {
  display: block;
  float: right; }

.center_block {
  display: block;
  width: auto; }

.header {
  width: 100%;
  height: 64px;
  background: linear-gradient(180deg, #484848, #343434);
  -webkit-user-select: none;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset, 0px -1px 1px #242424 inset; }
  .header .window-button-container {
    display: block;
    float: left;
    width: 180px;
    height: 39px;
    padding-left: 20px;
    padding-top: 25px;
    cursor: default; }
    .header .window-button-container .window-button {
      -webkit-app-region: no-drag;
      display: inline-block;
      width: 12px;
      height: 12px;
      background-color: black;
      border-radius: 50%;
      margin-right: 5px; }
    .header .window-button-container .close {
      background-color: #ff3434; }
    .header .window-button-container .maximize {
      background-color: #f7f76d; }
    .header .window-button-container .minimize {
      background-color: #36b836; }
  .header .win-title {
    color: #b3b3b3 !important;
    display: block;
    top: 0px;
    line-height: 64px;
    text-align: center;
    width: 400px;
    cursor: default;
    margin: 0 auto; }
  .header .user-button {
    display: block;
    float: right;
    width: 200px;
    height: 35px;
    background-image: url(../public/img/drop.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-color: linear-gradient(180deg, #484848, #602c2c);
    margin-top: 16px;
    margin-right: 16px;
    box-shadow: 0px 0px 2px #141414, 0 1px 1px #4f4f4f inset;
    border-radius: 2px;
    cursor: default;
    -webkit-user-select: none; }
    .header .user-button .user-name {
      margin-top: 8px;
      color: #939393;
      width: 100%;
      text-align: center;
      font-size: 12px;
      font-weight: bold; }
    .header .user-button .user-privilege {
      color: #737373;
      text-align: center;
      font-style: italic;
      font-size: 10px; }
    .header .user-button:hover {
      color: #fff !important; }
    .header .user-button:active {
      background: linear-gradient(180deg, #343434, #343434);
      box-shadow: 0px 0px 2px #141414, 0 1px 0px #3b3b3b inset; }

.background.menu-panel {
  height: auto !important;
  padding-bottom: 0;
  left: 0;
  width: 200px;
  background-color: #3b3b3b;
  margin-top: 64px;
  -webkit-user-select: none; }

.menu-panel {
  height: auto;
  width: 200px;
  padding-bottom: 0px; }

.background.content-panel {
  height: auto !important;
  padding-bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  margin-top: 64px;
  margin-left: 200px;
  box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.4) inset, 0px -1px 0px rgba(0, 0, 0, 0.4) inset; }

.content-panel {
  width: auto;
  height: auto;
  padding-bottom: 0px; }

/*# sourceMappingURL=layout.css.map */