$green1: #25c310;

@font-face{
    font-family:"Quicksand";
    src:url(../public/Quicksand_Bold.otf);
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #ddd;
    font-family: 'Quicksand';
}

#top{
    #navbar{
        background-color: $green1;
        display: block;
        width: 500px;
        height: 40px;        
    }    
}

.menu-panel{    
    .item{
        &:hover{
            color:white;
        }
        cursor: default;
        font-size: 12px;
        color: #9d9d9d;
        display: block;
        min-height: 40px;
        height: 40px;
        line-height: 40px;
        padding-left: 40px;
        transition: all 200ms;
        .subitem{
            display: none;
            padding-left: 20px;
            ul{
                li{
                    &:hover{
                        color:#5db550;
                    }
                    transition: all 500ms;
                    line-height:16px;
                    list-style: none;
                }
            }
            .active{        
                color: #5db550;
            }
        }
    }
    .active{        
        color: #fff;
        background-color: #4a4a4a;              
    }
}