@font-face {
  font-family: "Quicksand";
  src: url(../public/Quicksand_Bold.otf); }

* {
  padding: 0;
  margin: 0; }

body {
  background-color: #ddd;
  font-family: 'Quicksand'; }

#top #navbar {
  background-color: #25c310;
  display: block;
  width: 500px;
  height: 40px; }

.menu-panel .item {
  cursor: default;
  font-size: 12px;
  color: #9d9d9d;
  display: block;
  min-height: 40px;
  height: 40px;
  line-height: 40px;
  padding-left: 40px;
  transition: all 200ms; }
  .menu-panel .item:hover {
    color: white; }
  .menu-panel .item .subitem {
    display: none;
    padding-left: 20px; }
    .menu-panel .item .subitem ul li {
      transition: all 500ms;
      line-height: 16px;
      list-style: none; }
      .menu-panel .item .subitem ul li:hover {
        color: #5db550; }
    .menu-panel .item .subitem .active {
      color: #5db550; }
.menu-panel .active {
  color: #fff;
  background-color: #4a4a4a; }

/*# sourceMappingURL=main.css.map */