@mixin button-face-dark{
    background: linear-gradient(180deg, #404040, #343434);
    box-shadow: 0px 0px 1px #000,
        0 1px 0px #4f4f4f inset;
    border-radius: 2px;
}

@mixin button-face-light{
    background: linear-gradient(180deg, #ccc, #b0b0b0);
    box-shadow: 0px 0px 2px #000,
        0 0px 0px #e3e3e3 inset;
    border-radius: 2px;
}

.ftext{
    color: #444;
    font-size: 14px;
    font-family: 'Quicksand';
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 3px;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 1px #222;
}

.fbutton{
    color: #494949;
    font-size: 14px;
    font-family: 'Quicksand';    
    border: none;
    outline: none;
    padding: 10px;
    transition: all 0.1s;
    @include button-face-light;
    &:hover{
        color: #828282;
    }
    &:active{
        color: #6f6f6f;
        background: linear-gradient(180deg, #b0b0b0, #b0b0b0);        
    }
}