.ftext {
  color: #444;
  font-size: 14px;
  font-family: 'Quicksand';
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 3px;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 1px #222; }

.fbutton {
  color: #494949;
  font-size: 14px;
  font-family: 'Quicksand';
  border: none;
  outline: none;
  padding: 10px;
  transition: all 0.1s;
  background: linear-gradient(180deg, #ccc, #b0b0b0);
  box-shadow: 0px 0px 2px #000, 0 0px 0px #e3e3e3 inset;
  border-radius: 2px; }
  .fbutton:hover {
    color: #828282; }
  .fbutton:active {
    color: #6f6f6f;
    background: linear-gradient(180deg, #b0b0b0, #b0b0b0); }

/*# sourceMappingURL=widgets.css.map */