<input type="text" class="ftext" id="txtSearch" ng-model="name" ng-model-onblur ng-change="loadList('')"> <input type="button" class="fbutton" value="search" ng-click="loadList('')">
<table>    
    <div ng-repeat="m in makanan">
        {{m.NamaMakanan}} 
        {{m.JenisMakanan}}
    </div>    
</table>

